{% extends "match/layout.html" %}

{% block body %}
    <h1 class="mb-3">Details of {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for detail in details %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ detail.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user_detail' detail.author.username %}">{{ detail.author }}</a>
            <small class="text-muted">{{ detail.date_posted|date:'F d, Y' }}</small>
        </div>
            <h2><a class="article-title" href="{% url 'detail_detail' detail.id %}">{{ detail.name }}</a></h2>
            <p class="article-content">{{ detail.Interests }}</p>
            <p class="article-content">{{ detail.Branch }}</p>
            <p class="article-content">{{ detail.Semester }}</p>
        </div>
    </article>
    {% endfor %}
    {% if is_paginated %}                       <!-- working with paginator, for more details see "django.core.paginator import Paginator" -->
        {% if page_obj.has_previous  %}         <!-- if our current page has a previous page -->
            <a class="btn btn-outline-info mb-4" href ="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href ="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href ="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}        <!-- show page link for 3 page more and less from previous -->
                <a class="btn btn-outline-info mb-4" href ="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next  %}         <!-- if our current page has a previous page -->
            <a class="btn btn-outline-info mb-4" href ="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href ="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock body %}
